/*

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value)

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}

#head {
  min-width: 100vw;
  max-width: 100vw;
  height: 10vh;
  background-color: rgb(37, 37, 37);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  color: white;
}

#nav-header-container {
  color: rgb(42, 171, 226);
  padding-left: 15px;
}

#nav-buttons-container {
  width: 35vw;
  display: flex;
  justify-content: space-around;
}

#main {
  display: flex;
}

.bordered {
  border: solid;
}

#main-first {
  width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 150px;
  padding-right: 150px;
}

#main-second {
  padding: 50px;
  width: 30%;
}

#main-third {
  width: 60%;
}

.svg {
  width: 150px;
}

.main-second-box {
  box-shadow: 0px 0px 20px 10px rgba(102, 75, 75, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#main-second-first-box {
  margin-bottom: 50px;
}

#profile {
  width: 200px;
  padding: 20px;
}

#view-larger {
  color: rgb(42, 171, 226);
}

#third-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-alt {
  padding-left: 150px;
  padding-bottom: 50px;
}

#images {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

footer {
  background-color: rgb(42, 171, 226);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-text {
  padding-left: 20px;
}

#blue-circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: solid;
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 171, 226);
}
